.intro {
  margin-top: -15px;
  margin-bottom: 55px;
}

.intro__photo {
  position: relative;

  background: url("../../img/background-intro.png") no-repeat;
  min-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__photo::after {
  position: absolute;
  content: "";

  background-image: url("../../img/intro-decorate.png");

  width: 1202px;
  height: 59px;
  top: 450px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;
}

.intro__header {
  text-align: center;
}

.intro__description {
  margin-top: 30px;
}
